@CHARSET "UTF-8";

/* 
laranja profit = #ff7e00
cinza titulos = #999999 
*/
* {
	margin: 0;
	padding: 0;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

.alert{
	width: 80.2%;	
	padding: 15px;
	border-radius: 7px;
	display: none;
	margin-top: 20px;
}

.error{
	background-color: #eebdbd;	
	color: #a94442;
	
}

.success{
	background-color: #cbf0bb;
	color: #3c763d;
}

.sombra{
	box-shadow: 0px 10px 40px 0 #ababab;
}

.clear{
	clear: both;
}

a {
	text-decoration: none;
}

.centralizer {
	padding: 20px 7%;
}


.sessao{
	min-height: 678px;
}

/* Títulos de cada sessão */
.sessao > h2.titulo-sessao {
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	font-size: 2em;
	width: 220px;
	text-align: center;
	border-bottom: solid 4px #999999;
	color: #999999;	
}

/*Paineis a esquerda e a direita*/
article.centralizer > div.painel-left {
	display: inline-block;	
}

article.centralizer > div.painel-right {
	float: right;
}

article.centralizer > div.painel-left, 
article.centralizer > div.painel-right{
	width: 49%;
	height: auto;
	/* border: solid 1px red; */
}

.campo-form{
	border-radius: 5px;
	border: solid 1px #999999;
	padding: 8px 15px 8px 15px;
	font-size: 1.2em;
	color: #626262;	
	width: 80%;	
}

.campo-form:focus{
	outline: 0;
}

.btn-padrao{
	background-color: #ff7e00;
	color: #FFF;
	font-size: 1.6em;
	font-weight: bold;
	margin-top: 15px;
	border: solid 1px #ff7e00;
	border-radius: 8px;
	padding: 10px 0;
	text-align: center;
	width: 30%;	
}

/* Cabeçalho */
header > h1 > img#hamburger-button{
	display: none;
}

header {
	background-color: rgba(255, 255, 255, 0.8);
	border-top: solid 3px #ff7e00;
	width: 100%;
	height: auto;
	position: fixed;
}

header > h1 {
	text-align: center;
}

header > h1 > a > img {
	margin: 20px 0 10px 0;
	width: 14%;
}

header > nav > ul {
	text-align: center;
	/* border: solid 1px red; */
}

header > nav > ul > li {
	display: inline-block;
	text-align: center;
	margin: 0 8px;
	/* border: solid 1px blue;	 */
}

header > nav > ul > li > a {
	display: block;
	width: 140px;
	padding: 12px 0;
	font-weight: bold;
	color: #999999;
	font-size: 1.1em;
}

header > nav > ul > li > a:hover{
	border-bottom: #ff7e00 solid 5px;
}

/* Menu selecionado */
.selecionado {
	border-bottom: #ff7e00 solid 5px;
}

/* Home */
section#home {
	background-image: url("../img/imagem-destaque.jpg");	
}

section#home {		
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

section#home > h2, section#home > h3 {
	color: #FFF;
	padding-left: 7%;
}

section#home > h2 {
	padding-top: 280px;
	font-size: 3em;
}

section#home > h3 {
	font-size: 1.65em;
	font-weight: normal;
}

section#home > #btn-servicos {
	background-color: #ff7e00;
	width: 380px;
	margin-left: 7%;
	margin-top: 50px;
	border-radius: 10px;
	text-align: center;
}

section#home > #btn-servicos > a {
	display: block;
	color: #FFF;
	font-size: 1.6em;
	font-weight: bold;
	padding: 20px 0;
}

/* Sobre nós */
section#sobre-nos > article {
	width: 60%;
	margin: 0 auto;
	margin-top: 15px;
}

section#sobre-nos > article > p {
	text-align: justify;
	text-indent: 50px;
	color: #999999;
	line-height: 25px;
	margin-bottom: 15px;
}

section#sobre-nos > article p > b {
	color: #999999;
}

/*Serviços*/
section#servicos {
	background-color: #ff7e00;
}

section#servicos > h2.titulo-sessao {
	color: #FFF;
	border-bottom-color: #FFF;
}

section#servicos > article > div.painel-left > p {
	text-align: justify;
	text-indent: 50px;
	color: #FFF;
	line-height: 25px;
	margin-bottom: 15px;
}

section#servicos > article > div.painel-left > p > b {
	color: #FFF;
	font-size: 1.1em;
}

section#servicos > article > div.painel-left > section#tecnologias {
	background-color: #FFF;
	width: 100%;
	border-radius: 15px;
	margin-top: 30px;
}

section#servicos > article > div.painel-left > section#tecnologias > h3 {
	font-size: 1.3em;
	color: #999999;
	padding: 20px;
}

section#servicos > article > div.painel-left > section#tecnologias > img {
	width: 24%;
	height: auto;
	margin: 5px 4.2%;	
	vertical-align: middle;	
}

section#servicos > article > div.painel-left > section#tecnologias > img:last-child {
	margin-bottom: 20px;
	margin-top: 20px;
}

section#servicos > article > div.painel-right > section#o-que-oferecemos {
	min-height: 500px;
	background-color: #FFF;
	width: 60%;
	margin-right: 5%;
	float: right;
	border-radius: 15px;
}

section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
	font-size: 1.8em;
	text-align: center;
	padding: 20px 0;
	border-bottom: solid 1px #999999;
	color: #999999;
}

section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos {	
	list-style-image: url("../img/bullet.png");
	list-style-position: inside;
	width: 85%;
	margin: 0 auto;
}

section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li {
	padding: 4.1% 0;
	/* margin-left: 14%; */
	border-bottom: solid 1px #999999;
}

section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li:last-child {
	border-bottom: none;
}

/*Clientes*/
section#clientes > article > img{	
	width: 30%;
	height: auto;	
	margin-right: 2.93%;
	margin-bottom: 30px;
}

/*Contato*/
section#contato{
	background-color: #f6f6f6; 
}

section#contato > article > div.painel-left > label{
	display: block;	
	color: #999999;
	font-size: 1.4em;
	margin-top: 3%;
	margin-bottom: 2%;
}

section#contato > article > div.painel-left > textarea{
	resize: none;
	height: 140px
}

section#contato > article > div.painel-left{
	padding-left: 5%;
}

section#contato > article > div.painel-right{
	width: 45%;
}

section#contato > article > div.painel-right img{
	width: 100%;	
}

section#contato > article > div.painel-right > table{
	margin: 16% 0 0 13%;
}

section#contato > article > div.painel-right > table tr > td{
	font-size: 1.4em;
	color: #999999;
	padding-bottom: 6%;	
}

section#contato > article > div.painel-right > table tr > td:first-child{
	width: 25%;	
	text-align: center;	
}

section#contato > article > div.painel-right > table tr > td:last-child{
	width: 65%;
	padding-left: 5%;	
}

/* Localização */
section#localizacao > article.centralizer{
	margin-bottom: 25px;
}

section#localizacao > article.centralizer > img{
	width: 4.5%;
	float: left;
	margin-right: 15px;
	margin-left: 30.5%;
}

section#localizacao > article.centralizer > div{	
	color: #999999;		
	margin-top: 15px;	
}

section#localizacao > article#mapa{
	width: 100%;
	height: 500px;
}

/* Rodapé */
footer{
	background-color: #ff7e00;
	height: 230px;	
}

footer > article > img{
	float: left;
	width: 22%;	
	margin-top: 4.5%;
}


footer > article > ul{
	margin-top: 3%;
}

footer > article > ul{
	float: right;	
}

footer > article > ul > li{
	display: inline-block;
	text-align: center;
	margin: 0 10px
}

footer > article > ul > li > a{
	display: block;
	width: 100px;
	padding: 12px 0;	
	color: #FFF;
	font-size: .9em;
}

footer > article > section#restrito-social{	
	margin-top: 6%;
	margin-left: 33.1%;
	position: absolute;	
	width: 51.3%;	
}

footer > article > section#restrito-social > a{
	color: #FFF;		
	display: inline-block;
	font-size: .9em;	
}

footer > article > section#restrito-social > a:first-child{
	padding: 11px;
}

footer > article > section#restrito-social > a:last-child{
	float: right;
	margin-top: 25px;
}

footer > article > section#restrito-social img{
	width: 45px;
}

footer > section#sub-rodape{
	height: auto;
	background-color: #c96504;		
	margin-top: 85px;
	padding: 20px 7% 15px;
}

footer > section#sub-rodape > span{
	color: #FFF;
	font-size: .8em;
}

footer > section#sub-rodape > span:FIRST-CHILD{
	
}

footer > section#sub-rodape > span:last-child{
	float: right;
}

/*Mobiles de até 480px de resolução de largura - praticamente todos em*/
@media only screen and (max-width: 480px) {
	.alert{
		margin-left: 5%;
		width: 82%;		
	}
	
	.centralizer {
		padding: 5px 0;
	}
	
	/* Títulos de cada sessão */
	.sessao{
		min-height: 300px;		
	}
	
	.sessao > h2.titulo-sessao {		
		padding-top: 85px;		
		margin-bottom: 50px;
		font-size: 1.2em;
		width: 140px;
	}
	
	/*Paineis a esquerda e a direita*/
	article.centralizer > div.painel-left {
		display: block;	
	}
	
	article.centralizer > div.painel-right {
		float: none;		
	}
	
	article.centralizer > div.painel-left, 
	article.centralizer > div.painel-right{
		width: 98%;
		height: auto;
		margin: 0 auto;
		/* border: solid 1px red; */
	}
	
	.campo-form{			
		font-size: 1.1em;		
		width: 81%;
		margin-left: 5%;	
	}
	
	.btn-padrao{		
		font-size: 1.3em;		
		width: 88%;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		padding: 12px 0;		
	}
		
	/* Cabeçalho */
	header {
		background-color: rgba(255, 255, 255, 1);			
	}
	
	header > h1 {
		text-align: left;		
	}
	
	header > h1 > a > img {
		margin: 15px 0 12px 10px;
		width: 140px;
	}
	
	header > nav{
		display: none;
		border-top: solid 1px #ff7e00;
		/* border-bottom: solid 1px #ff7e00; */
	}
	
	header > h1 > img#hamburger-button{
		display: inline-block;
		float: right;
		width: 45px;
		height: auto;		
		margin: 16px 12px 0 0;		
	}
	
	
	header > nav > ul {
		text-align: center;		
		background-color: #ff7e00;
	}
	
	header > nav > ul > li {
		display: block;		
		margin: 0;
	}
	
	header > nav > ul > li > a {
		width: 100%;		
		border-bottom: solid 1px #FFF;	
		color: #FFF;
		font-size: 1em;
	}
	
	header > nav > ul > li > a:hover{
		border-bottom: solid 1px #FFF;
	}
	
	/* Menu selecionado */		
	.selecionado {		
		color: #ff7e00;
		background-color: #FFF;		
	}
	
	/* Home */
	section#home {		
		background-size: 100% 100%;
		background-repeat: no-repeat;
	    background-position: 0 72px;	    
	}
	
	section#home > h2, section#home > h3 {
		color: #FFF;
		text-align: center;
		padding-left: 0;
	}
		
	section#home > h2 {
		padding-top: 135px;
		font-size: 1.4em;
	}
	
	section#home > h3 {
		font-size: 0.8em;
		margin-bottom: 15px;		
	}
	
	section#home > #btn-servicos {		
		width: 68%;
		margin-left: 0;		
		margin: 0 auto;		
	}
	
	section#home > #btn-servicos > a {				
		font-size: 1.1em;
		padding: 15px 0;
	}
	
	/* Sobre nós */
	section#sobre-nos > article {
		width: 98%;		
		margin-top: 0;
	}
	
	section#sobre-nos > article > p {		
		text-indent: 30px;
		margin-bottom: 8px;
		font-size: 0.9em;
		padding: 0 2%;
	}
	
	/*Serviços*/
	section#servicos > article > div.painel-left > p {		
		text-indent: 30px;		
		margin-bottom: 8px;
		font-size: 0.9em;
		padding: 0 2%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias {		
		width: 100%;				
		margin: 0 auto;
		margin-top: 15px;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > h3 {
		font-size: 1.1em;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img {
		width: 38%;			
		margin: 5px 5%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img:last-child {
		margin-bottom: 10px;
	}
	
	section#servicos > article > div.painel-right {
		padding-top: 0;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {
		min-height: 500px;		
		width: 100%;		
		margin: 14px 0 30px;
		float: none;		
	}
		
	section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
		font-size: 1.4em;		
		padding: 15px 0;
	}
	
	/*Clientes*/
	section#clientes > article{
		text-align: center; 
	}
	
	section#clientes > article > img{	
		width: 46%;
		height: auto;		
		margin-right: 1%;
		margin-bottom: 20px;
	}
	
	/*Contato*/
	section#contato > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#contato > article > div.painel-left > label{				
		font-size: 1.1em;
		margin-top: 1.5%;
		margin-bottom: 2%;
		margin-left: 5%;
	}
	
	section#contato > article > div.painel-left{
		width: 98%;
		padding: 0;		
	}
	
	section#contato > article > div.painel-right{
		width: 98%;
		margin: 0 auto;		
	}
	
	section#contato > article > div.painel-right img{
		width: 50%;	
	}

	section#contato > article > div.painel-right > table{
		margin: 0;
		padding: 7% 0;		
	}
	
	section#contato > article > div.painel-right > table tr > td{
		font-size: 1.25em;
		padding: 2% 2%;				
	}
	
	section#contato > article > div.painel-right > table tr > td:first-child{
		width: 50%;	
		text-align: center;		
	}
	
	section#contato > article > div.painel-right > table tr > td:last-child{
		width: 20%;
		padding-left: 0;
		font-size: 1.1em;
	}
	
	/* Localização */
	section#localizacao > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#localizacao > article.centralizer > img{
		width: 11%;		
		margin-right: 1%;
		margin-left: 2%;
	}
	
	section#localizacao > article.centralizer > div{	
		font-size: 0.9em;	
	}
	
	section#localizacao > article#mapa{		
		height: 280px;
	}
	
	/* Rodapé */
	footer{		
		height: 350px;	
	}
	
	footer > article > img{		
		width: 40%;
		padding-left: 10%;
		margin-top: 8%;
	}
	
	footer > article > ul{
		margin-top: 4.5%;
		padding-right: 10%;		
	}
	
	footer > article > ul > li{
		display: block;		
		margin: 0;
		text-align: left;
	}
	
	footer > article > section#restrito-social{	
		margin-top: 30%;
		margin-left: 7.5%;
		position: absolute;	
		width: 40%;
	}
			
	footer > article > section#restrito-social > a{
		color: #FFF;		
		display: block;
		font-size: .9em;	
	}
	
	footer > article > section#restrito-social > a:last-child{
		float: none;
		margin-top: 25px;		
	}
	
	footer > article > section#restrito-social img{
		width: 50px;
		margin-left: 5%;
		margin-top: 20px;
	}
	
	footer > section#sub-rodape{					
		margin-top: 30px;		
		text-align: center;
	}
			
	footer > section#sub-rodape > span:last-child{
		float: none;
		display: block;
	}
	
}

/*Mobiles em landscape   iphone 5/5s tem 640px, iphone 6  tem 750px*/
@media only screen and (min-width: 481px) and (max-width: 767px) {   
	.alert{
		margin-left: 5%;
		width: 84%;		
	}
	
	.centralizer {
		padding: 5px 0;
	}
	
	/* Títulos de cada sessão */
	.sessao{
		min-height: 370px;		
	}
	
	.sessao > h2.titulo-sessao {		
		padding-top: 85px;		
		margin-bottom: 50px;
		font-size: 1.2em;
		width: 140px;
	}
	
	/*Paineis a esquerda e a direita*/
	article.centralizer > div.painel-left {
		display: block;	
	}
	
	article.centralizer > div.painel-right {
		float: none;		
	}
	
	article.centralizer > div.painel-left, 
	article.centralizer > div.painel-right{
		width: 98%;
		height: auto;
		margin: 0 auto;
		/* border: solid 1px red; */
	}
	
	.campo-form{			
		font-size: 1.1em;		
		width: 85%;
		margin-left: 5%;	
	}
	
	.btn-padrao{		
		font-size: 1.3em;		
		width: 90%;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		padding: 12px 0;		
	}
		
	/* Cabeçalho */
	header {
		background-color: rgba(255, 255, 255, 1);			
	}
	
	header > h1 {
		text-align: left;		
	}
	
	header > h1 > a > img {
		margin: 15px 0 12px 10px;
		width: 160px;
	}
	
	header > nav{
		display: none;
		border-top: solid 1px #ff7e00;
		/* border-bottom: solid 1px #ff7e00; */
	}
	
	header > h1 > img#hamburger-button{
		display: inline-block;
		float: right;
		width: 45px;
		height: auto;		
		margin: 16px 12px 0 0;		
	}
		
	header > nav > ul {
		text-align: center;		
		background-color: #ff7e00;
	}
	
	header > nav > ul > li {
		display: block;		
		margin: 0;
	}
	
	header > nav > ul > li > a {
		width: 100%;		
		border-bottom: solid 1px #FFF;	
		color: #FFF;
		font-size: 1em;
	}
	
	header > nav > ul > li > a:hover{
		border-bottom: solid 1px #FFF;
	}
	
	/* Menu selecionado */		
	.selecionado {		
		color: #ff7e00;
		background-color: #FFF;
	}
	
	/* Home */
	section#home {		
		background-size: 100% 100%;
		background-repeat: no-repeat;
	    background-position: 0 72px;
	}
	
	section#home > h2, section#home > h3 {
		color: #FFF;
		text-align: center;
		padding-left: 0;
	}
		
	section#home > h2 {
		padding-top: 138px;
		font-size: 2.2em;
	}
	
	section#home > h3 {
		font-size: 1.1em;
		margin-bottom: 20px;		
	}
	
	section#home > #btn-servicos {		
		width: 42%;
		margin-left: 0;		
		margin: 0 auto;		
	}
	
	section#home > #btn-servicos > a {				
		font-size: 1.1em;
		padding: 18px 0;
	}
	
	/* Sobre nós */
	section#sobre-nos > article {
		width: 98%;		
		margin-top: 0;
	}
	
	section#sobre-nos > article > p {		
		text-indent: 30px;
		margin-bottom: 8px;
		font-size: 0.9em;
		padding: 0 2%;
	}
	
	/*Serviços*/
	section#servicos > article > div.painel-left > p {		
		text-indent: 30px;		
		margin-bottom: 8px;
		font-size: 0.9em;
		padding: 0 2%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias {		
		width: 80%;				
		margin: 0 auto;
		margin-top: 15px;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > h3 {
		font-size: 1.1em;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img {
		width: 35%;			
		margin: 5px 6.5%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img:last-child {
		margin-bottom: 20px;
	}
	
	section#servicos > article > div.painel-right {
		padding-top: 0;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {
		min-height: 500px;		
		width: 80%;
		margin: 0 auto;		
		margin-top: 20px;
		float: none;		
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li {		
		padding-left: 18%;		
	}
	
		
	section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
		font-size: 1.4em;		
		padding: 20px 0;
	}
	
	/*Clientes*/
	section#clientes > article{
		text-align: center; 
	}
	
	section#clientes > article > img{	
		width: 46%;
		height: auto;		
		margin-right: 1%;
		margin-bottom: 20px;
	}
	
	/*Contato*/
	section#contato > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#contato > article > div.painel-left > label{				
		font-size: 1.1em;
		margin-top: 1.5%;
		margin-bottom: 2%;
		margin-left: 5%;
	}
	
	section#contato > article > div.painel-left{
		width: 98%;
		padding: 0;		
	}
	
	section#contato > article > div.painel-right{
		width: 98%;
		margin: 0 auto;		
	}
	
	section#contato > article > div.painel-right img{
		width: 60%;
	}

	section#contato > article > div.painel-right > table{
		margin: 0;
		padding: 7% 0;		
	}
	
	section#contato > article > div.painel-right > table tr > td{
		font-size: 1.25em;
		padding: 2% 15%;				
	}
	
	section#contato > article > div.painel-right > table tr > td:first-child{
		width: 80%;	
		text-align: center;		
	}
	
	section#contato > article > div.painel-right > table tr > td:last-child{
		width: 50%;
		padding-left: 0;
		font-size: 1.1em;
	}
	
	/* Localização */
	section#localizacao > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#localizacao > article.centralizer > img{
		width: 50px;		
		margin-right: 1%;
		margin-left: 15%;
	}
	
	section#localizacao > article.centralizer > div{	
		font-size: 0.9em;	
	}
	
	section#localizacao > article#mapa{		
		height: 280px;
		margin-top: 50px;
	}
	
	/* Rodapé */
	footer{		
		height: 350px;	
	}
	
	footer > article > img{		
		width: 250px;
		padding-left: 10%;
		margin-top: 8%;
	}
	
	footer > article > ul{
		margin-top: 4.5%;
		padding-right: 15%;		
	}
	
	footer > article > ul > li{
		display: block;		
		margin: 0;
		text-align: left;
	}
	
	footer > article > section#restrito-social{	
		margin-top: 25%;
		margin-left: 7.5%;
		position: absolute;	
		width: 40%;
	}
	
			
	footer > article > section#restrito-social > a{
		color: #FFF;		
		display: block;
		font-size: .9em;	
	}
	
	footer > article > section#restrito-social > a:last-child{
		float: none;
		margin-top: 0;		
	}
	
	footer > article > section#restrito-social img{
		width: 50px;
		margin-left: 5%;
		margin-top: 20px;
	}
	
	footer > section#sub-rodape{					
		margin-top: 30px;		
		text-align: center;
	}
			
	footer > section#sub-rodape > span:last-child{
		display: block;
		float: none;
	}
}

/*Tablets tem entre 768px e 800px*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
	.alert{
		margin-left: 5%;
		width: 86%;		
	}
	
	.centralizer {
		padding: 5px 0;
	}
	
	/* Títulos de cada sessão */
	.sessao{
		min-height: 470px;		
	}
	
	.sessao > h2.titulo-sessao {		
		padding-top: 85px;		
		margin-bottom: 50px;
		font-size: 2em;
		width: 180px;
	}
	
	/*Paineis a esquerda e a direita*/
	article.centralizer > div.painel-left {
		display: block;	
	}
	
	article.centralizer > div.painel-right {
		float: none;		
	}
	
	article.centralizer > div.painel-left, 
	article.centralizer > div.painel-right{
		width: 80%;
		height: auto;
		margin: 0 auto;
		/* border: solid 1px red; */
	}
	
	.campo-form{			
		font-size: 1.2em;		
		width: 85%;
		margin-left: 5%;	
	}
	
	.btn-padrao{		
		font-size: 1.4em;		
		width: 40%;
		display: block;
		margin-left: 5%;
		margin-top: 10px;
		padding: 15px 0;		
	}
		
	/* Cabeçalho */
	header {
		background-color: rgba(255, 255, 255, 1);			
	}
	
	header > h1 {
		text-align: left;		
	}
	
	header > h1 > a > img {
		margin: 15px 0 12px 10px;
		width: 160px;
	}
	
	header > nav{
		display: none;
		border-top: solid 1px #ff7e00;
		/* border-bottom: solid 1px #ff7e00; */
	}
	
	header > h1 > img#hamburger-button{
		display: inline-block;
		float: right;
		width: 45px;
		height: auto;		
		margin: 16px 12px 0 0;		
	}
		
	header > nav > ul {
		text-align: center;		
		background-color: #ff7e00;
	}
	
	header > nav > ul > li {
		display: block;		
		margin: 0;
	}
	
	header > nav > ul > li > a {
		width: 100%;		
		border-bottom: solid 1px #FFF;	
		color: #FFF;
		font-size: 1em;
	}
	
	header > nav > ul > li > a:hover{
		border-bottom: solid 1px #FFF;
	}
	
	/* Menu selecionado */		
	.selecionado {		
		color: #ff7e00;
		background-color: #FFF;
	}
	
	/* Home */
	section#home {		
		background-size: 100% 100%;
		background-repeat: no-repeat;
	    background-position: 0 72px;
	}
	
	section#home > h2, section#home > h3 {
		color: #FFF;
		text-align: center;
		padding-left: 0;
	}
		
	section#home > h2 {
		padding-top: 170px;
		font-size: 2.5em;
	}
	
	section#home > h3 {
		font-size: 1.3em;
		margin-bottom: 20px;		
	}
	
	section#home > #btn-servicos {		
		width: 40%;
		margin-left: 0;		
		margin: 0 auto;		
	}
	
	section#home > #btn-servicos > a {				
		font-size: 1.3em;
		padding: 18px 0;
	}
	
	/* Sobre nós */
	section#sobre-nos > article {
		width: 70%;		
		margin-top: 0;
	}
	
	section#sobre-nos > article > p {		
		text-indent: 30px;
		margin-bottom: 8px;		
		padding: 0 2%;
	}
	
	/*Serviços*/
	section#servicos > article > div.painel-left > p {		
		text-indent: 30px;		
		margin-bottom: 8px;		
		padding: 0 2%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias {		
		width: 100%;				
		margin: 0 auto;
		margin-top: 15px;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > h3 {
		font-size: 1.1em;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img {
		width: 25%;			
		margin: 5px 3.5%;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > img:last-child {
		margin-bottom: 20px;
	}
	
	section#servicos > article > div.painel-right {
		padding-top: 0;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {
		min-height: 500px;		
		width: 100%;
		margin: 0 auto;		
		margin-top: 20px;
		float: none;		
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li {		
		padding-left: 18%;		
	}
	
		
	section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
		font-size: 1.8em;		
		padding: 20px 0;
	}
	
	/*Clientes*/
	section#clientes > article{
		text-align: center; 
	}
	
	section#clientes > article > img{	
		width: 38%;
		height: auto;		
		margin-right: 1%;
		margin-bottom: 20px;
	}
	
	/*Contato*/
	section#contato > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#contato > article > div.painel-left > label{				
		font-size: 1.1em;
		margin-top: 1.5%;
		margin-bottom: 2%;
		margin-left: 5%;
	}
	
	section#contato > article > div.painel-left{
		width: 100%;
		padding: 0;
	}
	
	section#contato > article > div.painel-right{
		width: 98%;
		margin: 0 auto;		
	}
	
	section#contato > article > div.painel-right img{
		width: 60%;
	}

	section#contato > article > div.painel-right > table{
		margin: 0;
		padding: 7% 0;		
	}
	
	section#contato > article > div.painel-right > table tr > td{
		font-size: 1.25em;
		padding: 2% 13%;				
	}
	
	section#contato > article > div.painel-right > table tr > td:first-child{
		width: 80%;	
		text-align: center;		
	}
	
	section#contato > article > div.painel-right > table tr > td:last-child{
		width: 50%;
		padding-left: 0;
		font-size: 1.6em;
	}
	
	/* Localização */
	section#localizacao > h2.titulo-sessao{
		margin-bottom: 15px;
	}
	
	section#localizacao > article.centralizer > img{
		width: 60px;		
		margin-right: 1%;
		margin-left: 16%;
	}
	
	section#localizacao > article.centralizer > div{	
		font-size: 1.2em;	
	}
	
	section#localizacao > article#mapa{		
		height: 350px;
		margin-top: 50px;
	}
	
	/* Rodapé */
	footer{		
		height: 350px;	
	}
	
	footer > article > img{		
		width: 250px;
		padding-left: 10%;
		margin-top: 8%;
	}
	
	footer > article > ul{
		margin-top: 4.5%;
		padding-right: 15%;		
	}
	
	footer > article > ul > li{
		display: block;		
		margin: 0;
		text-align: left;
	}
	
	footer > article > section#restrito-social{	
		margin-top: 21%;
		margin-left: 7.5%;
		position: absolute;	
		width: 40%;
	}
	
			
	footer > article > section#restrito-social > a{
		color: #FFF;		
		display: block;
		font-size: .9em;	
	}
	
	footer > article > section#restrito-social > a:last-child{
		float: none;
		margin-top: 0;		
	}
	
	footer > article > section#restrito-social img{
		width: 50px;
		margin-left: 5%;
		margin-top: 20px;
	}
	
	footer > section#sub-rodape{					
		margin-top: 30px;		
		text-align: center;
	}
			
	footer > section#sub-rodape > span:last-child{
		display: block;
		float: none;
	}
}


/*Iphone 6 plus tem 1080*/
@media only screen and (min-width: 980px) and (max-width: 1023px) {
	header > h1 > img#hamburger-button{
		display: none;
	}

	.centralizer {
		padding: 20px 5%;
	}
	
	header > nav > ul > li > a {		
		width: 110px;
		padding: 10px 0;
		font-size: 1em;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {
		width: 80%;		
	}
	
	section#localizacao > article.centralizer > img{		
		margin-left: 24%;
	}
	
	footer > article > ul > li{		
		margin: 0 5px
	}
	
	footer > article > section#restrito-social{			
		margin-left: 23.5%;		
		width: 65%;
	}
}

/*Monitores*/
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	header > h1 > img#hamburger-button{
		display: none;
	}

	.centralizer {
		padding: 20px 5%;
	}
	
	header > nav > ul > li > a {		
		width: 110px;
		padding: 10px 0;
		font-size: 1em;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {
		width: 80%;		
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
		font-size: 1.6em;		
		padding: 15px 0;		
	}
		
	section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li {
		padding: 3.3% 0;
		padding-left: 10%;		
	}
		
	section#localizacao > article.centralizer > img{		
		margin-left: 28%;
	}
	
	footer > article > ul > li{		
		margin: 0 5px
	}
	
	footer > article > section#restrito-social{			
		margin-left: 32%;		
		width: 56.5%;
	}
}

/*Monitores 2*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
	header > h1 > img#hamburger-button{
		display: none;
	}
}


/*Televisões ou monitores full HD com 22"*/
@media only screen and (min-width: 1920px){
	.campo-form{		
		font-size: 1.35em;
		padding: 12px 15px;
	}
	
	.btn-padrao{
		padding: 13px 0;
	}
	
	.sessao > h2.titulo-sessao {		
		padding-top: 80px;		
		margin-bottom: 70px;
		font-size: 2.2em;
		width: 240px;		
	}
	
	
	header > h1 > img#hamburger-button{
		display: none;
	}
	
	header > nav > ul > li {			
		margin: 0 20px;	
	}
	
	.sessao{
		min-height: 900px;
	}
	
	.centralizer {
		padding: 20px 12%;
	}
	
	section#home > h2, section#home > h3 {
	color: #FFF;
	padding-left: 12%;
}

	section#home > h2 {
		padding-top: 370px;
		font-size: 3.5em;
	}
	
	section#home > h3 {
		font-size: 1.8em;		
	}
	
	section#home > #btn-servicos {		
		width: 400px;
		margin-left: 12%;
	}
	
	section#home > #btn-servicos > a {
		font-size: 1.8em;
		padding: 22px 0;
	}
	
	/* Sobre nós */
	section#sobre-nos > article {
		width: 45%;		
		margin-top: 50px;
	}
	
	section#sobre-nos > article > p {		
		text-indent: 65px;		
		line-height: 30px;
		margin-bottom: 25px;
		font-size: 1.2em;
	}
	
	/* Serviços */
	section#servicos > article > div.painel-left > p{
		font-size: 1.2em; 
	}
		
	section#servicos > article > div.painel-left > p > b {		
		font-size: 1.3em;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias {		
		margin-top: 50px;
	}
	
	section#servicos > article > div.painel-left > section#tecnologias > h3 {
		font-size: 1.5em;		
		padding: 25px;
	}
			
	section#servicos > article > div.painel-left > section#tecnologias > img:last-child {
		margin-bottom: 30px;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos {			
		width: 64.5%;
		margin-right: 7%;		
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > h2 {
		font-size: 1.8em;
		text-align: center;
		padding: 20px 0;
		border-bottom: solid 1px #999999;
		color: #999999;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos {			
		width: 80%;
	}
	
	section#servicos > article > div.painel-right > section#o-que-oferecemos > ul#lista-servicos > li {
		padding: 4.35% 0;
		padding-left: 10%;		
	}
		
	/* Contato */
	section#contato > article > div.painel-right > table{
		margin: 11% 0 0 13%;
	}
	
	section#contato > article > div.painel-right > table tr > td{
		font-size: 1.6em;
	}
	
	
	/* Localização */
	section#localizacao > article.centralizer > div{
		font-size: 1.3em;
	}
	
	section#localizacao > article#mapa{
		margin-top: 50px;
		height: 620px;
	}
	
	/*Footer*/
	footer{
		height: 275px;
	}
	
	footer > article > img{
		width: 20%; 
	}
	
	footer > article > ul > li > a,
	footer > article > section#restrito-social > a {
		font-size: 1.1em;
	}
	
	footer > article > section#restrito-social{
		margin-left: 38.4%;
		width: 37%;
	}
			
	footer > section#sub-rodape {	    
	    margin-top: 107px;
	    padding: 20px 12% 15px;
	}
	
}






