*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.transition{
	/*
		mude o tempo da transição
		2s
		1s
		750ms
		500ms
		250ms

		mude também o tipo do efeito
		ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
		linear - specifies a transition effect with the same speed from start to end
		ease-in - specifies a transition effect with a slow start
		ease-out - specifies a transition effect with a slow end
		ease-in-out - specifies a transition effect with a slow start and end
	*/
	transition: 750ms ease;	
}

header{
	width: 100%;
	height: 200px;
	background-color: #cccccc;
	position: fixed;
	padding: 0 5%;	
}

header div {
	background-color: #FFFFFF;
	width: 200px;
	height: 200px;	
	position: relative;
	display: inline-block;
	border: solid 1px #999999;
}

header div img{
	width: 150px;
	height: auto;
	position: absolute;
	left: 25px;
	top: 74px;
}

section{
	height: 2000px;	
}

.diminui-header{
	height: 150px;
}

.diminui-logo{
	width: 100px;
	top: 58px;
}

.arredonda{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}